$white-tc: #ffffff;
$white-bgc: #ffffff;
$dark-bgc: rgba(17, 19, 25, 0.8);
$offwhite-bgc: #F7F7F7;
$dark-tc: #303030;
$grey-tc: #555555;
$darkgrey-tc: #9DA4BD;
$lightgrey-tc: rgba(157, 164, 189, 0.6);
$accent-color: #ff6c00;